<div class="animated fadeIn">
  <div class="card">
    <card-loader *ngIf="loading"></card-loader>
    <div class="card-header">
      <div class="row">
        <div class="col-md-2 col-xl-2">
          <div class="form-group m-0">
            <div class="input-group">
              <input type="text" placeholder="Datepicker" class="form-control" (onHidden)="search()" [(ngModel)]="pageQuery.date" value="{{pageQuery.date | date: 'dd MMM yyyy'}}"
                bsDatepicker #dp="bsDatepicker">
              <span class="input-group-append">
                <button class="btn btn-success" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen">
                  <i class="fa fa-calendar"></i>
                </button>
              </span>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-xl-3 ml-auto">
          <form (submit)="search()">
            <div class="form-group m-0">
              <div class="input-group">
                <input type="text" class="form-control" name="keyword" [(ngModel)]="pageQuery.keyword" autocomplete="off" placeholder="Search"
                />
                <span class="input-group-append">
                  <button class="btn btn-default" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="card-body">
      <alert type="info" *ngIf="!loading && waybillDepositList.length == 0">
        No Items
      </alert>
      <table class="table table-hover">
        <tr class="cursor-pointer" *ngFor="let item of waybillDepositList">
          <td>
            <div class="date-compact">
              <span class="day">{{item.transactionDate | date : 'dd'}}</span>
              <span class="month">{{item.transactionDate | date : 'MMM'}}</span>
              <span class="year">{{item.transactionDate | date : 'yyyy'}}</span>
            </div>
            <span class="vertical-separator"></span>
            <div class="cubicle">
              <div class="description-block-cash-in">
                <label>Status</label>
                {{item.status}}
              </div>
            </div>
            <span class="vertical-separator"></span>
            <div class="cubicle">
              <div class="description-block-cash-in">
                <label>No Waybill</label>
                {{item.awbNumber}}
              </div>
            </div>
            <span class="vertical-separator"></span>
            <div class="cubicle">
              <div class="description-block-cash-in">
                <label>Payment Method</label>
                {{item.paymentMethodCode}}
              </div>
            </div>
            <span class="vertical-separator"></span>
            <div class="cubicle">
              <div class="description-block-cash-in">
                <label>COD Type</label>
                {{item.codType}}
              </div>
            </div>
            <span class="vertical-separator"></span>
            <div class="cubicle">
              <div class="description-block-cash-in">
                <label>Amount</label>
                {{item.amount | currency : 'Rp '}}
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="card-footer">
      <pagination class="pull-right" [maxSize]="5" [boundaryLinks]="true" [(ngModel)]="pageQuery.page" [totalItems]="pageQuery.count"
        [itemsPerPage]="pageQuery.size" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;"></pagination>
    </div>
  </div>
</div>

<router-outlet></router-outlet>