<div class="animated fadeIn">
  <div class="card">
    <card-loader *ngIf="loading"></card-loader>
    <div class="card-header">
      <div class="row">
        <div class="col-md-2 col-xl-2">
          <div class="form-group m-0">
            <div class="input-group">
              <select name="status" class="form-control" [(ngModel)]="selectedStatus" (ngModelChange)="filterByStatus()">
                <option value="" disabled>Status</option>
                <option value="All">All</option>
                <option value="Created">Created</option>
                <option value="Approved">Approved</option>
                <option value="Rejected">Rejected</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body">
      <alert type="info" *ngIf="!loading && cashDepositList.length == 0">
        No Items
      </alert>
      <table class="table table-hover">
        <tr *ngFor="let item of cashDepositList" (click)="openDetail(item)" class="cursor-pointer">
          <td>
            <div class="row">
              <div class="col-md-12">
                <span class="badge badge-dark pull-right position-absolute" style="right: 1rem;"></span>
              </div>
              <div class="col-md-3">
                <div class="description-block">
                  <label>{{item.code}}</label>
                  {{item.type}}
                </div>
              </div>
              <div class="col-md-3">
                <div class="description-block">
                  <label>{{item.branchCode}}</label>
                  {{item.createdDate | date : 'dd MMM yyyy HH:mm'}}
                </div>
              </div>
              <div class="col-md-3">
                <div class="description-block">
                  <label>{{item.createdBy}}</label>
                  {{item.totalWaybill}}
                </div>
              </div>
              <div class="col-md-3">
                <div class="description-block">
                  <label>{{item.grandTotal | currency : 'Rp '}}</label>
                  {{item.status}}
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>

    <div class="card-footer">
      <pagination class="pull-right" [maxSize]="5" [boundaryLinks]="true" [(ngModel)]="pageQuery.page" [totalItems]="pageQuery.count"
        [itemsPerPage]="pageQuery.size" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
        lastText="&raquo;"></pagination>
    </div>
  </div>
</div>

<router-outlet></router-outlet>